<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
    <!-- Keep this section unchanged -->
    <div class="instructor-section-course">
        <div class="row align-items-center">
            <div class="col-md-6 course-title-section animate-x">
                <h2 class="mb-4 text-white">Blog-detail</h2>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-warning" href="/home">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-warning" href="/blogs">Blogs</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
            </ol>
        </nav>
    </div>

    <div class="container mt-5">

        <div class="row">
            <div class="col-md-9">
                <div class="mb-5">
                    <img th:src="${post.featuredImage.getUrlOrNull()}" class="img-fluid mb-3" alt="Blog session">

                    <article>
                        <h2><span class="text-warning" th:text="${post.id}"></span> <span th:text="${post.title}"></span></h2>
                        <span class="text-muted">
                            <i><b>Posted by:</b> <span th:text="${post.author.displayName}"></span></i>
                        </span>
                        <div class="mt-3">
                            <p th:utext="${#strings.replace(#strings.replace(post.content, '<p>', ''), '</p>', '<br><br>')}"></p>
                        </div>
                        <p><b>Posted at: </b><i id="publishedAt"></i> </p>
                    </article>
                </div>
            </div>

            <div class="col-md-3 end-0 categories">
                <h5 class="category-title mb-4">ALL COURSES</h5>
                <div th:each="course: ${courses}">
                    <ul class="mb-0">
                        <li class="course-list"><a th:attr="href='/courses/detail/' + ${course.code}"> <i class="fa fa-hashtag text-warning"></i> <span th:text="${course.displayName}"></span></a></li>
                    </ul>
                </div>

                <h5 class="category-title mb-4 mt-5">ANOTHER POSTS</h5>
                <div th:each="postItem : ${posts}">
                    <a class="text-decoration-none" th:attr="href='/blogs/detail/' + ${postItem.slug}">
                        <div class="latest-course card mt-3">
                            <div class="d-flex align-items-center">
                                <span class="col-4 ml-1">
                                    <img class="card-img" th:src="${postItem.featuredImage.getUrlOrNull()}" alt="course-detail-img">
                                </span>
                                <div class="ml-1 mt-1">
                                    <h6 class="text-warning mt-2" th:text="${postItem.title}"></h6>
                                    <span class="d-flex gap-1 mb-0"><p>
                                        <p>
                                            <b>Posted at: </b><i class="post-date" th:text="${postItem.publishedAt}"></i>
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="post-scripts">
    <script ezy:vsrc="/js/ezyclient-1.0.3.min.js"></script>
    <script ezy:vsrc="/js/phaser.min.js"></script>
    <script ezy:vsrc="/js/main.js"></script>
    <script type="text/javascript">
        var timestamp = [[${post.publishedAt}]];
        var date = new Date(timestamp);
        document.getElementById("publishedAt").textContent = date.toLocaleString('vi-VN', {
            year: 'numeric', month: '2-digit', day: '2-digit',
            hour: '2-digit', minute: '2-digit', second: '2-digit'
        });

        document.addEventListener('DOMContentLoaded', function() {
            let dateElements = document.querySelectorAll('.post-date');
            dateElements.forEach(function(element) {
                let timestamp = parseInt(element.textContent);
                let date = new Date(timestamp);
                element.textContent = date.toLocaleDateString('vi-VN', {
                    year: 'numeric', month: '2-digit', day: '2-digit'
                });
            });
        });
    </script>
</th:block>
</body>
</html>