<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
    <div class="instructor-section-course">
        <div class="row align-items-center">
            <div class="col-md-6 course-title-section animate-x">
                <h2 class="mb-4 text-white">Course</h2>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-warning" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Courses</li>
            </ol>
        </nav>

        <div class="row">
            <!-- Phần danh sách khóa học -->
            <div class="col-md-9">
                <div class="d-flex justify-content-between align-items-center bg-light p-2 mb-4 rounded">
                    <div class="d-flex align-items-center">
                        <div class="btn-group me-3" role="group" aria-label="View options">
                            <button type="button" class="btn btn-icon" id="grid-view">
                                <i class="fas fa-th"></i>
                            </button>
                            <button type="button" class="btn btn-icon" id="list-view">
                                <i class="fas fa-list"></i>
                            </button>
                        </div>
                        <span>Showing 1-12 of <span th:text="${paginationCount}"></span> results</span>
                    </div>
                    <div class="d-flex">
                        <select class="form-select me-2" aria-label="Sort by">
                            <option selected>Newly published</option>
                            <option value="1">Most popular</option>
                            <option value="2">Highest rated</option>
                        </select>
                        <div class="input-group clean-search">
                            <input type="text" class="form-control bg-light" placeholder="Search our courses" aria-label="Search courses">
                            <button class="btn bg-light" type="button">
                                <i class="fas fa-search text-muted"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="course-container" class="row row-cols-1 row-cols-md-3 g-4 animate">
                    <!-- Khóa học (lặp lại cho mỗi khóa học) -->
                    <div th:each="course : ${pagination}" class="col mb-4 course-item">
                        <div class="card-wrapper" style="overflow: hidden;">
                            <div class="card h-100 course-card">
                                <div class="card-img-container">
                                    <img th:src="${course.bannerImage.getUrlOrNull()}" class="card-img-top" alt="Python course">
                                    <div class="hover-overlay">
                                        <a th:attr="href='/courses/detail/' + ${course.code}" class="btn btn-warning">Read more</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 th:text="${course.displayName}" class="card-title"></h5>
                                    <p class="card-text"><small class="text-muted">4.5 <i class="bi bi-star-fill text-warning"></i> (200 reviews)</small></p>
                                    <p class="card-text">Teacher: <span class="text-primary" th:text="${course.teacher.displayName}"></span> - <span class="text-warning" th:text="${course.lessons}"></span> Lessons</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="bi bi-clock"></i> <span th:text="${course.lessonDuration}"></span> hr</li>
                                        <li class="list-inline-item"><i class="bi bi-book"></i> <span th:text="${course.classType}"></span></li>
                                        <li class="list-inline-item"><i class="bi bi-person"></i> <span th:text="${course.totalSlots}"></span> slots</li>
                                    </ul>
                                    <div class="d-flex align-items-center">
                                        <p class="card-text mb-0">
                                            <strong>
                                                <span class="text-success" th:text="${#numbers.formatDecimal(course.price, 1, 'POINT', 0, 'COMMA')}"></span> $
                                            </strong>
                                        </p>
                                        <p class="card-text mb-0 ms-3" th:if="${course.originalPrice != course.price}">
                                            <strong>
                                                <span class="text-danger text-decoration-line-through" th:text="${#numbers.formatDecimal(course.originalPrice, 1, 'POINT', 0, 'COMMA')}"></span>
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Phân trang -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-4 mb-5">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Phần lọc kết quả -->
            <div class="col-md-3 mb-4">
                <div class="card p-4 animate-x">
                    <button class="btn btn-outline-secondary mb-3">Refresh</button>

                    <h5 class="category-title">Categories <i class="fa fa-filter text-warning"></i></h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="python">
                        <label class="form-check-label" for="python">Python</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="java">
                        <label class="form-check-label" for="java">Java</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="javascript">
                        <label class="form-check-label" for="javascript">JavaScript</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="reactJs">
                        <label class="form-check-label" for="reactJs">ReactJs</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ruby">
                        <label class="form-check-label" for="ruby">Ruby</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="vueJs">
                        <label class="form-check-label" for="vueJs">VueJs</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="typescript">
                        <label class="form-check-label" for="typescript">Typescript</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="golang">
                        <label class="form-check-label" for="golang">Golang</label>
                    </div>

                    <h5 class="mt-3 category-title">Levels <i class="fa fa-filter text-warning"></i></h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="basic">
                        <label class="form-check-label" for="basic">Beginner</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="intermediate">
                        <label class="form-check-label" for="intermediate">Intermediate</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="advanced">
                        <label class="form-check-label" for="advanced">Advanced</label>
                    </div>

                    <h5 class="mt-3 category-title">Price <i class="fa fa-filter text-warning"></i></h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="free">
                        <label class="form-check-label" for="free">Miễn phí</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="paid">
                        <label class="form-check-label" for="paid">Có phí</label>
                    </div>
                </div>

                <h5 class="category-title mt-5 mb-4">ALL COURSES</h5>
                <div class="mb-4">
                    <ul>
                        <li class="course-list"><a href=""> <i class="fa fa-hashtag text-warning"></i> Java SpringBoot FullStack</a></li>
                        <li class="course-list"><a href=""> <i class="fa fa-hashtag text-warning"></i> PHP FullStack</a></li>
                        <li class="course-list"><a href=""> <i class="fa fa-hashtag text-warning"></i> Frontend With VueJs</a></li>
                        <li class="course-list"><a href=""> <i class="fa fa-hashtag text-warning"></i> Backend With PHP</a></li>
                        <li class="course-list"><a href=""> <i class="fa fa-hashtag text-warning"></i> Basic HTML, CSS, For Beginner</a></li>
                    </ul>
                </div>

                <h5 class="category-title mt-5">LATEST COURSES</h5>
                <div class="latest-course card mt-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="col-4 m-2 ">
                            <img class="card-img" src="https://techmaster.vn/resources/image/java-spring-boot-min.jpg" alt="">
                        </span>
                        <div class="m-2">
                            <h6 class="text-warning">Java FullStack With SpringBoot</h6>
                            <span class="d-flex gap-1 mb-0"><p class="mb-0 text-primary" >6.500.000 </p><p class="mb-0"> vnđ</p></span>
                        </div>
                    </div>
                </div>
                <div class="latest-course card mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="col-4 m-2 ">
                            <img class="card-img" src="https://techmaster.vn/resources/image/java-spring-boot-min.jpg" alt="">
                        </span>
                        <div class="m-2">
                            <h6 class="text-warning">Java FullStack With SpringBoot</h6>
                            <span class="d-flex gap-1 mb-0"><p class="mb-0 text-primary">6.500.000 </p><p class="mb-0"> vnđ</p></span>
                        </div>
                    </div>
                </div>
                <div class="latest-course card mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="col-4 m-2 ">
                            <img class="card-img" src="https://techmaster.vn/resources/image/java-spring-boot-min.jpg" alt="">
                        </span>
                        <div class="m-2">
                            <h6 class="text-warning">Java FullStack With SpringBoot</h6>
                            <span class="d-flex gap-1 mb-0"><p class="mb-0 text-success">Free </p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="post-scripts">
    <script ezy:vsrc="/js/ezyclient-1.0.3.min.js"></script>
    <script ezy:vsrc="/js/phaser.min.js"></script>
    <script ezy:vsrc="/js/main.js"></script>
</th:block>
</body>
</html>